<div class="items-center">
    <p class="mt-5 mb-3 text-lg text-center text-gray-500 md:text-xl dark:text-gray-400">
        <% if local_assigns[:content] %>
            <%= local_assigns[:content] %>
        <% else %>
            <%= t('empty_for_now') %>
        <% end %>
    </p>
</div>
