<% if defined?(object) && object.errors.any? %>
    <div id="error_explanation" class="bg-blue-50 text-blue-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2>
            <%= "#{t('the_form_contains')} #{pluralize(object.errors.count, t('error', count: object.errors.count))}" %>
        </h2>

        <ul>
            <% object.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
<% elsif flash.any? %>
    <div id="error_explanation" class="bg-blue-50 text-blue-500 px-3 py-2 font-medium rounded-lg mt-3">
        <ul>
            <% flash.each do |message_type, message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
