<%= turbo_frame_tag new_object do %>
    <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl"><%= list_title_path %></h1>
        <div class="flex space-x-3">
            <%= link_to create_button_link, class: 'text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white' do %>
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                </svg>
            <% end %>
        </div>
    </div>

    <% if local_assigns[:is_empty_list] %>
        <div class="items-center">
            <p class="mt-5 mb-3 text-lg text-center text-gray-500 md:text-xl dark:text-gray-400">Empty for now</p>
        </div>
    <% end %>

<% end %>
