
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <%= t('word.title') %>
                </th>
                <th scope="col" class="px-6 py-3">
                    <%= t('dictionary.title') %>
                </th>
                <th scope="col" class="px-6 py-3">
                    <%= t('created') %>
                </th>
            </tr>
        </thead>
        <tbody>
            <% table.each do |item| %>
                <%= render 'pages/home/last_added_words/row', row: item %>
            <% end %>
        </tbody>
    </table>
