<h1 class="font-bold text-4xl mb-4"><%= t('Home') %></h1>
<%= render 'pages/home/table',
  table: @popular_dictionaries,
  title: t('pages.home.popular_dictionaries'),
  partial_row_path: 'pages/home/popular_dictionaries/row',
  columns: [t('dictionary.title'), t('dictionary.words_count'), t('dictionary.updated_at')]
%>
<div class="mb-4"></div>
<%= render 'pages/home/table',
  table: @last_words,
  title: t('pages.home.last_added_words'),
  partial_row_path: 'pages/home/last_added_words/row',
  columns: [t('word.title'), t('dictionary.title'), t('created')],
  more_detailed_path: dictionaries_path,
  more_detailed_title: t('pages.home.all_dictionaries')
%>
