<div class="w-full">
  <div id="flash">
    <%= render 'shared/flash' %>
  </div>

  <%= render 'header' %>
    <%= turbo_frame_tag 'list' do %>
      <%= render 'shared/list', list: @dictionaries %>
    <% end %>
</div>
