  <div class="mx-auto">
    <%= render 'shared/child_items', id: 'words', src: words_path(dictionary_id: @dictionary) %>
    <%= link_to "Back to dictionaries", dictionaries_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
