  <div class="mx-auto">
    <%= link_to sanitize("&larr; #{t('dictionary.back_to_dictionaries')}"), dictionaries_path %>
    <div class="mt-3"></div>
    <%= render 'shared/child_items', id: 'words', src: words_path(dictionary_id: @dictionary) %>
  </div>
